WEB_PORT=443
USER_NAME=thaperei
DOMAIN_NAME=$USERNAME.42.fr

DB_NAME=wordpress
DB_USER=wp_user
DB_PORT=3306

WP_PORT=9000
WP_TITLE=Inception
WP_ADMIN_USER=admin_user
WP_ADMIN_EMAIL=admin@gmail.com
WP_USER=guest
WP_USER_EMAIL=guest@example.com

REDIS_HOST=REDIS_USER
REDIS_PORT=REDIS_PORT

FTP_USER=FTP_USER
FTP_PORT=FTP_PORT
FTP_PASV_MIN_PORT=FTP_PASV_MIN_PORT
FTP_PASV_MAX_PORT=FTP_PASV_MAX_PORT

STATIC_PORT=STATIC_PORT

ADMINER_PORT=ADMINER_PORT

PORTAINER_USER=portaineruser
PORTAINER_PORT=9000

VOLUME_MARIADB=/home/$USER_NAME/data/mariadb
VOLUME_WORDPRESS=/home/$USER_NAME/data/wordpress
VOLUME_REDIS=/home/$USER_NAME/data/redis
VOLUME_PORTAINER=/home/${USER_NAME}/data/portainer
