WEB_PORT=NGINX_PORT
USERNAME=thaperei
DOMAIN_NAME=$USERNAME.42.fr

DB_NAME=wordpress
DB_USER=wp_user
DB_PORT=DB_PORT

WP_PORT=WP_PORT
WP_TITLE=Inception
WP_ADMIN_USER=yourlogin
WP_ADMIN_EMAIL=admin@gmail.com
WP_USER=guest
WP_USER_EMAIL=guest@example.com

VOLUME_MARIADB=/home/$USERNAME/data/mariadb
VOLUME_WORDPRESS=/home/$USERNAME/data/wordpress

FTP_USER=yourlogin
FTP_PASSWORD=ftp_pass
